<div class="card" style="width: 18rem;">
    <img    src="https://images.unsplash.com/photo-1611745179863-e123a89795fa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80" 
            class="card-img-top" alt="image for <%= hotel.name %>">
    <div class="card-body">
        <h5 class="card-title"><%= link_to  hotel.name, fieldguide_hotel_path(hotel)%> </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to  hotel.name, fieldguide_hotel_path(hotel), class:"btn btn-primary" %>

    </div>
</div>    
<%#  %>
