


<div class="row">
  <div class="col-sm-6">
    <h1>Touringplans_cached_venues</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_touringplans_cached_venue_path, class: 'btn btn-primary' do %>
    Add New Touringplans cached venue
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Permalink</th>
            
      </tr>
    </thead>

    <tbody>
      <% @touringplans_cached_venues.each do |touringplans_cached_venue| %>
        <%= content_tag :tr, id: dom_id(touringplans_cached_venue), class: dom_class(touringplans_cached_venue) do %>
          
            <td><%= link_to touringplans_cached_venue.name, touringplans_cached_venue %></td>
          

                      <td><%= touringplans_cached_venue.permalink %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
