<div class="page-header">
  <%= link_to touringplans_cached_venues_path, class: 'btn btn-default' do %>
    All Touringplans_cached_venues
  <% end %>
  <%= link_to edit_touringplans_cached_venue_path(@touringplans_cached_venue), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show touringplans_cached_venue</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @touringplans_cached_venue.name %></dd>
  <dt>Permalink:</dt>
  <dd><%= @touringplans_cached_venue.permalink %></dd>
</dl>
