


<div class="row">
  <div class="col-sm-6">
    <h1>Eateries</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_eatery_path, class: 'btn btn-primary' do %>
    Add New Eatery
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            
      </tr>
    </thead>

    <tbody>
      <% @eateries.each do |eatery| %>
        <%= content_tag :tr, id: dom_id(eatery), class: dom_class(eatery) do %>
          
            <td><%= link_to eatery.name, eatery %></td>
          

          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
