<h1>Fieldguide#index</h1>

 <figure>
    <picture>
        <source srcset="https://magicguides.com/wp-content/uploads/photo-gallery/imported_from_media_libray/Disney-World-3646.jpg?bwg=1544358179"
                media="(max-width: 600px)">
        <img src="https://magicguides.com/wp-content/uploads/photo-gallery/imported_from_media_libray/Disney-World-3646.jpg?bwg=1544358179" alt="" />
    </picture>
    <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>
</figure> 
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat maiores recusandae quidem asperiores. Dolorum ducimus harum deserunt ad dignissimos suscipit. Aliquid qui hic inventore tenetur excepturi, perferendis ab omnis quae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam qui doloremque ut reiciendis asperiores iste fugiat magnam, harum rem cum, doloribus illo, odio cupiditate commodi tempora non quia dolore consequatur!</p>

<p>&nbsp;</p><p>&nbsp;</p>